
*{
    margin:0px;
    border:0px;
    padding:0px;

}
body{
    background-color:black;
    
}
.container{
    background-color: white;
    margin:120px auto;
    width:656px;
    display: grid;
    place-items: center;
    border-radius: 4px;
    box-shadow:0px 2px 31px rgb(33, 235, 33); 
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color:black;
    text-shadow: 2px 0px 3px #3bf543;
  
}
form{
    display: grid;
    place-items: center;
}
input{
    margin: 50px auto;
    width:550px;
    height:30px;
    outline:none;
    cursor: pointer;
    border:none;
    color:black;
    border-bottom: 2px solid black;
    
}
input[type="text"]{
    font-family:Verdana ;
    font-size: large;
    padding-left: 12px;
}

input:focus{
    border-bottom: 2px solid rgb(42, 240, 24);
}
#btn{
    width: 84px;
    height: 38px;
    font-family: verdana;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight:bolder;
    color:rgb(43, 235, 26);
    box-shadow: 2px 0px 3px grey;
    background-color: black;
    outline: none;
    border:none;
    border-radius:3px;
}
#btn:hover{
    background-color: rgb(50, 252, 50);
    color:black;
    cursor: pointer;
}
 @media screen and (max-width:670px){
    .container{
        margin:130px auto; 
        display: grid;
        place-items: center;
        width:482px;
    }
    
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
    }
    input{
        width:400px;
        height:30px;
        outline:none;
        cursor: pointer;
        border:none;
        color:black;
        border-bottom: 2px solid black;
    }
    input:focus{
        border-bottom: 2px solid rgb(42, 240, 24);
    }
      

}
 @media screen and (max-width:498px){

    .container{
        width:380px;
        display: grid;
        place-items: center;
    }
       
    
    
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
    input{
        margin: 50px auto;
        width:300px;
        height:30px;
        outline:none;
        cursor: pointer;
        border:none;
        color:black;
    border-bottom: 2px solid black;
    }
    input:focus{
        border-bottom: 2px solid rgb(42, 240, 24);
    }
} 
@media screen and (max-width:399px){

    .container{
        width:310px;
        display: grid;
        place-items: center;
        
    }
    
    
    h1{
        font-family:  Verdana;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-top:10px;
        text-align: center;
    }
    input{
        margin: 50px auto;
        width:230px;
        height:30px;
        outline:none;
        cursor: pointer;
        border:none;
        color:black;
        border-bottom: 2px solid black;
    }
    input:focus{
        border-bottom: 2px solid rgb(42, 240, 24);
    }
} 
